<!-- Header Start -->
{% load static %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-4 logo">
                <a href="home-layout-1.html"><img src={% static 'images/logo.jpg' %} alt=""></a>
            </div>
            <div class="col-md-8 nav-wrapper">

                <!-- Nav Start -->
                <div id="menuzord" class="menuzord">
                    <ul class="menuzord-menu">
                        <li class="active"><a href="/">Home</a>
                        </li>
                        <li><a href="#">About Us</a>
                            <ul class="dropdown">
                                <li><a href="/about">About Us</a></li>
                                <!--<li><a href="about-us-layout-2.html">About Us 2</a></li>-->
                                <li><a href="/teachers/">Teachers</a>
                                   <!-- <ul class="dropdown">
                                        <li><a href="">Our Teachers</a></li>
                                    </ul>-->
                                </li>
                            </ul>
                        </li>
                        <li><a href="/courses">Courses</a>
                           <!-- <ul class="dropdown">
                                <li><a href="courses-col-2.html">Course 2 Columns</a></li>
                                <li><a href="courses-col-3.html">Course 3 Columns</a></li>
                                <li><a href="courses-col-4.html">Course 4 Columns</a></li>
                                <li><a href="courses-detail.html">Single Page</a></li>
                            </ul>-->
                        </li>
                        <li><a href="/gallery">Gallery</a>
                            <!--<ul class="dropdown">
                                <li><a href="gallery-col-2.html">Gallery 2 Columns</a></li>
                                <li><a href="gallery-col-3.html">Gallery 3 Columns</a></li>
                                <li><a href="gallery-col-4.html">Gallery 4 Columns</a></li>
                            </ul>-->
                        </li>
                        <li><a href="#">Blog</a>
                            <ul class="dropdown">
                                <li><a href="blog-style-1.html">Blog Style 1</a></li>
                                <li><a href="blog-style-2.html">Blog Style 2</a></li>
                                <li><a href="blog-single.html">Blog Single</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Features</a>
                            <ul class="dropdown">
                                <li><a href="faq-page.html">FAQ</a></li>
                                <li><a href="404.html">404 Page</a></li>
                                <li><a href="under-construction.html">Under Construction</a></li>
                            </ul>
                        </li>
                        <li><a href="/contact">Contact Us</a>

                        </li>
                    </ul>
                </div>
                <!-- Nav End -->

            </div>
        </div>
    </div>
</header>
<!-- Header End -->
