<!-- Nav Start -->
<div id="menuzord" class="menuzord">
    <ul class="menuzord-menu">
        <li class="active"><a href="#">Home</a>
            <ul class="dropdown">
                <li><a href="home-layout-1.html">Home Page 1</a></li>
                <li><a href="home-layout-2.html">Home Page 2</a></li>
            </ul>
        </li>
        <li><a href="#">About Us</a>
            <ul class="dropdown">
                <li><a href="about-us-layout-1.html">About Us 1</a></li>
                <li><a href="about-us-layout-2.html">About Us 2</a></li>
                <li><a href="#">Teachers</a>
                    <ul class="dropdown">
                        <li><a href="teachers.html">Our Teachers</a></li>
                        <li><a href="teacher-detail.html">Teacher Details</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">Courses</a>
            <ul class="dropdown">
                <li><a href="courses-col-2.html">Course 2 Columns</a></li>
                <li><a href="courses-col-3.html">Course 3 Columns</a></li>
                <li><a href="courses-col-4.html">Course 4 Columns</a></li>
                <li><a href="courses-detail.html">Single Page</a></li>
            </ul>
        </li>
        <li><a href="#">Gallery</a>
            <ul class="dropdown">
                <li><a href="gallery-col-2.html">Gallery 2 Columns</a></li>
                <li><a href="gallery-col-3.html">Gallery 3 Columns</a></li>
                <li><a href="gallery-col-4.html">Gallery 4 Columns</a></li>
            </ul>
        </li>
        <li><a href="#">Blog</a>
            <ul class="dropdown">
                <li><a href="blog-style-1.html">Blog Style 1</a></li>
                <li><a href="blog-style-2.html">Blog Style 2</a></li>
                <li><a href="blog-single.html">Blog Single</a></li>
            </ul>
        </li>
        <li><a href="#">Features</a>
            <ul class="dropdown">
                <li><a href="faq-page.html">FAQ</a></li>
                <li><a href="404.html">404 Page</a></li>
                <li><a href="under-construction.html">Under Construction</a></li>
            </ul>
        </li>
        <li><a href="#">Contact Us</a>
            <ul class="dropdown">
                <li><a href="contact-layout-1.html">Contact Us 1</a></li>
                <li><a href="contact-layout-2.html">Contact Us 2</a></li>
            </ul>
        </li>
    </ul>
</div>
<!-- Nav End -->
